
/**
* Modules - forms - radiobutton
*/

/* Customize the label (the radiobuttonContainer) */
.radiobuttonContainer {
	position: relative;
	user-select: none;
	margin: 0;
	font-size: 13px;
	font-weight: 200;
	line-height: normal;
	background-color: transparent;
	padding: 0;
	&:last-child
	{
		margin-left: em(14);
	}
	@include prefix((
		appearance: none,
		box-sizing: border-box,
		display: flex,
		justify-content: flex-start,		
		align-items: center,
		user-select: none
	), webkit moz o ms);
	&--naked
	{
		margin: 0 0 0 em(20);
		width: auto !important;
		@include prefix((
			justify-content: flex-start !important,
		), webkit moz o ms);
	}
	&__label
	{
		width: 100%;
		padding: 0 em(18);
		font-weight: 300;
		color: $gris-3a;
		@include prefix((
			flex: 1,		
		), webkit moz o ms);
		&--naked
		{
			background-color: transparent;
			padding: 0 em(10);
			@include prefix((
				display: flex,
			), webkit moz o ms);
		}
	}
}

/* Hide the browser's default checkbox */
input[type="radio"] {
	position: absolute;
	opacity: 0;
	z-index: 10;
	cursor: pointer;
	height: 100%;
	width: 20px;
	top: 0;
	left: 0;
}

/* Create a custom checkbox *//* Create a custom radio button */
.radiobtn 
{
	position: relative;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	background-color: transparent !important;
	border-radius: 50%;
	border: solid 2px $gris-cc;
}
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .radiobtn:after 
{
	content: "";
	position: absolute;
	display: none;
}
  
  /* Show the indicator (dot/circle) when checked */
  input:checked ~ .radiobtn:after 
{
	display: block;
}
  
  /* Style the indicator (dot/circle) */
  .radiobtn:after 
{
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto auto;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: $rojo;
}